*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  min-block-size: 100vh;  
  display: grid;
  place-items: center; 
}

.content {
display: flex;
align-items: flex-end;
inline-size: 1140px;
gap: 30px;
box-sizing: border-box;
}

.content__list {
block-size:399px;
overflow-y: auto;
overflow-x: hidden;
}

.content_details{
display: flex;
flex-direction: column;
width: 100%;
height: 100%;

}


.search-form {
display: flex;
justify-content: flex-start;
gap: 40px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


